layout {
    pane split_direction="vertical" {
        pane edit="src/lib.rs"
        pane split_direction="horizontal" {
            pane command="gitui";
            pane split_direction="horizontal" {
            pane {
                command "trunk"
                args "serve"
                start_suspended true
            }            
            cargo { args "test"; }
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane_template name="cargo" {
        command "cargo"
        start_suspended true
    }
}
